.conteiner {
  /* margin: 20px 650px; */
  max-width: 300px;
  border: 3px solid black;
  text-align: center;
  border-radius: 7px;
  margin: auto;
  margin-top: 20px;
}
.list {
  display: flex;
  justify-content: center;
  /* margin: -1px; */
  margin-top: 10px;
  width: 100%;
  padding: 0px;
}
.avatar {
  border-radius: 100%;
  background-color: rgb(40, 39, 39);
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(55, 55, 55);
  width: 100%;
  background-color: rgb(204, 203, 203);
  padding: 8px 12px;
}
.stats {
  font-size: large;
  font-weight: bold;
}
.item:last-child,
.item:first-child {
  border-left: 0px;
  border-right: 0px;
}
.name {
  font-size: large;
  font-weight: bold;
}
p:nth-child(n + 3) {
  color: rgb(145, 145, 146);
}
