body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: auto;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
table {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
th,
td {
  outline: 2px solid black;
  padding: 3px;
  text-align: center;
}
thead {
  background-color: rgb(63, 61, 61);
  color: white;
}
